@charset "utf-8";
/* 
---------------------------------
Site: site global_head.css  
Author:  chenfeng
Last Changed by : chenfeng
Last Update : 2015-12-01 16:15
--------------------------------- 
*/
/*列表页面*/
.wrapper_html{background:url(../images/background.png) rgba(253,253,253,0.9);}
.dotted{border-bottom: 1px dashed #82db71;width: 100%;height:20px; }
#grouplist .dotted{border-bottom: 1px dashed #33a89f;}
.main_content{width: 1200px;margin: 0 auto;}
.main_center{margin: 0 auto;width: 100%;position: relative;}
.main_center .main_content{width: 100%;}
.main_content .classify{width: 100%;height:130px;margin:20px 0;background: #f6faf5;padding-top: 1px;margin-bottom: 0;}
#grouplist .classify{background: #f2f8f7;height: 100px;}
.main_content .classify .classifydiv{width: 100%;height:30px;margin-top: 10px;}
.main_content .classify .classifydiv .classtitle{width:80px;height: 100%;text-align: right;line-height:30px;color: #595757;font-size: 14px;float: left; }
.main_content .classify .classifydiv ul{width: 800px;float: left;height: 30px;margin-top: 5px;width: 1100px;overflow: hidden;}
.main_content .classify .classifydiv ul li{margin-left:25px;float: left;}
.main_content .classify .classifydiv ul li a{color:#787878; line-height: 23px;font-size: 13px;padding: 0 5px;}
.main_content .classify .classifydiv ul li a:hover,.main_content .classify .classifydiv ul li a.this{color: #fff;background: #82db71;}
#grouplist .classify .classifydiv ul li a:hover,#grouplist  .classify .classifydiv ul li a.this{background: #33a89f;}
/*每个项目的样式*/
.re_circle{min-height:380px;}
.re_circle li{width: 982px;height: 180px;padding: 10px;background:rgba(246,250,245,0.7);border-top-left-radius:20px;border-bottom-left-radius:20px;border: 1px solid #bcebb3; margin: 0 auto;margin-top: 30px;}
#grouplist .re_circle li{border:1px solid #33a89f;background:rgba(242,248,247,0.7);}
.circle_img{position: relative;width: 300px;height: 100%;border-top-left-radius:20px;border-bottom-left-radius:20px;float: left;overflow: hidden;}
.circle_img img{width: 100%;height: 100%;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.re_circle .item_info{width: 660px;float: left;height: 178px;border-left: none;padding-left:20px;}
.re_circle .info_title{width: 100%;text-align: center;color:#82db71;font-size: 18px;border-bottom:1px solid #82db71; height: 45px;line-height: 40px;letter-spacing: 2px;background:url(../images/acti_icon.png) no-repeat 39%;background-size: 4%;}
#grouplist .re_circle .info_title{height: 100px;line-height: 60px;background:url(../images/circle_icon.png) no-repeat 39% 27%;background-size: 4%;color:#33a89f;border-bottom:1px solid #33a89f;}
#grouplist .re_circle .info_title p{line-height: 10px;font-size: 14px;color:#888888;}
.re_circle li:hover{box-shadow:0 0 20px #7e7c7c;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.other .time span,.other .place span{width: 20px;height: 20px;margin-right: 5px;display:inline-block;}
.other{width: 100%;height: 130px;}
#grouplist .other{height: 78px;}
.other_left{width:480px;border-right: 1px solid #daebd5;}
.other_right{width: 179px;}
#grouplist .other_right{width: 32%;}
#grouplist .middle{width: 35%;border-left: 1px solid #33a89f;border-right: 1px solid #33a89f;}
.other_left,.other_right{float: left;height:100%;}
.other_left .time,.other_left .place{width: 98%;height: 30px;font-size: 14px;color:#717071;overflow: hidden;margin-left: 2%;line-height:10px;}
.other_left .time{margin-top: 10px;}
.other_left .time span{background: url(../images/time.png) no-repeat bottom;background-size: 100%;}
.other_left .place span{background: url(../images/place.png) no-repeat bottom;background-size: 100%;}
.other_left .join_info{width: 100%;height: 30px;margin-top: 30px;margin-left: 10%;color:#717071; font-size: 16px;}
.other_left .join_info span{font-size: 14px;color:#717071; }
.other_left .join_info em{margin: 0 10px;}
.other_right .publisher{width: 90%;height: 70px;margin-top: 10px;margin-left: 10%;position: relative;}
.other_right .publisher img,.other_right .publisher .publiserimg{margin: 10px;width: 50px;height: 50px;}
#grouplist .other_right .publisher img{display: block;padding-top: 10px;}
#grouplist .middle .publiserimg{background: url(../images/userimg.png) no-repeat bottom;background-size: 60%;}
#grouplist .right .publiserimg{background: url(../images/join_icon.png) no-repeat bottom;background-size: 60%;}
.other_right .publisher span{position: absolute;top: 30px;left:70px;font-size: 14px;color:#717071; }
#grouplist .right .publisher span{color:#33a89f;}
.other_right a{width: 85%;margin-left: 15%;margin-top: 5px;height: 30px;color:#717071;text-align: left; }
.other_right a span{background: url(../images/share.png) no-repeat center;background-size: 100%;width: 30px;height: 30px;display: inline-block;margin-right: 8px;}
.list_content{margin-bottom: 30px;}
.list_content .error{color: #33a89f;text-align: center;padding: 100px;}
/*每个项目的样式结束*/
/*分页*/
.page{
	display: none;
	margin-top: 60px;
	width: 100%;
	height: 20px;
}
.page_content{
	height: 40px;
	width: 390px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}
.page_content .pagination{
	height: 100%;
	zoom:1; 
	float: left;
}
.page_content .page_info{
	font-size: 14px;
	zoom:1; 
	height: 26px;
	text-align:center;
	color: #000;
	float: left;margin-top: 5px;
}
.page_content .pagination a,.page_content .pagination span{
	height: 20px;
	display: inline-block;
	width:30px;
	text-align: center;
	float: left;
	line-height: 20px;
	color:white;
	background:#fafafa; 
	border: 1px solid #c8c8c8;
	color: #646464;
}
.page_content .pagination a,.page_content .pagination span{
	margin-left:10px; 
}
.page_content .pagination a:hover,.page_content .pagination span.current{
	color: #82db71;
	border: 1px solid #82db71;
}
.page_content .pagination a.next,.page_content .pagination a.prev{
	width:50px;
}
.page_content .pagination span.next,.page_content .pagination span.prev{
	width:50px;
}
